.backdrop {
    transition: opacity 250ms var(--transition-cubic),
        visibility 250ms var(--transition-cubic);
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

.modal {
    font-family: inherit;
    padding: 40px;
    top:58%;
    left:49%;
    transform: translate(-50%, -50%) scale(1) rotate(0) skewX(0);
    position: absolute;
    width: 100vw;
    // height: 100vh;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 350ms var(--transition-cubic), background-color 350ms var(--transition-cubic);
    .backdrop.is-hidden &{
            transform: translate(-50%, -50%) scale(1.5) rotate(360deg) skewX(360deg);
            background-image: linear-gradient(to right, #0057B7, #FFDD00);
        }
 @media screen and (min-width:480px){
    width: 450px;
    min-height: 581px;
    left: 50%;
    top: 50%;
 }
 @media screen and (min-width:1200px) {
    width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;
}
}
.close-modal {
    transition-duration: 250ms;
    transition-delay: 0;
    transition-property: fill;
    transition-timing-function: var(--transition-cubic);
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: black;

    &:hover svg {
            fill: var(--color-blue);
        }
    &:focus svg {
          fill:var(--color-blue);
        }
}

// @media screen and (max-width:767px) {
//     background-color: none;
//     background-image: url(../images/clouse-bg-x.svg);
//     background-position: center;
//     background-repeat: no-repeat;
//    background-size: cover;
// } 
.close-svg {
    position: absolute;
    z-index: 111;
    transition: fill 250ms linear;
   max-width:20px;
    height: auto;
    fill: var(--color-black);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(23.4/20);
    letter-spacing: 0.03em;
    margin-bottom: 12px;

}

.modal-wraper {
    position: relative;
    margin-bottom: 10px;
}

.textarea-wraper {
    margin-bottom: 20px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14/12);
}

.modal-svg-input {
    transition: fill 250ms linear;
    left: 12px;
    top: 50%;
    position: absolute;
    .modal-input:focus+ & {
            fill: #0057B7;
        }
}

.modal-input {
    transition: border-color 250ms var(--transition-cubic);
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    outline: none;
    &:focus,
    &:hover {
    border-color: var(--color-blue);
}
}
.modal-textarea {
    line-height: calc(14/12);
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    height: 120px;
    width: 100%;
    resize: none;
    font-size: 12px;
    font-weight: 400;
    transition: border-color 250ms var(--transition-cubic);
   &:focus,
    &:hover {
            border-color: var(--color-blue);
        }
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.modal-checkbox {
    font-size: 12px;
        font-weight: 400;
        line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: var(--color-gray);
    display: flex;
    align-items: center;
   flex-wrap: wrap;
   
    & span {
            box-shadow: rgba(0, 0, 0, 0.14);
            margin-right: 7px;
            width: 16px;
            height: 15px;
            border: 2px solid var(--color-black);
            display: flex;
            justify-content: center;
            align-items: center;
            fill: transparent;

        }
@media screen and (min-width:1200px) {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24/14);
    margin-left: 13px;
}
}
.checkbox-wrapper {
    margin-bottom: 30px;
}

.modal-checkbox a {
    margin-left: 25px;
  
    position: relative;
@media screen and (min-width:444px) {
        margin-left: 7px;
    }
}

.checkbox-link::before {
    content: "";
    background-color: var(--color-blue);
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
@media screen and (min-width:1200px){
    bottom: 5px;
}
}

.checkbox:checked+.modal-checkbox span {
    fill: #ffffff;
    border: none;
    background-color: var(--color-blue);
}

.modal-checkbox a {
    color: var(--color-blue);
}

.input-button {

    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    background-color: var(--color-blue);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 52px;
    display: block;
    margin: 0 auto;
    border: 0;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-delay: 0;
    transition-property: background-color;
    transition-timing-function: var(--transition-cubic);
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: var(--color-herobtn)
    }
}
.hide {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}