.title_hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
  justify-content: center;
    // max-width: 100%;
    // @media screen and (min-width:480px) {
    //         max-width: 480px;
    //     }
    // @media screen and (min-width:768px) {
    //      max-width: 768px;
    //         }   
   @include desktop {
         padding-top: 94px;
        padding-bottom: 94px;
       }
}

.benefits__list {
   @include tablet{
        flex-wrap: wrap;
        display: flex;
        gap: 30px;
    }
     @include desktop{
         
            display: flex;
         }
}
    
.benefits__item {
max-width: 450px;
@include tablet {
        width: 354px;  
    }
@include desktop {
    width: 270px;
}}
.benefits__item:not(:last-child) {
   @include tablet{
        margin-bottom: 30px;
        }
   @include desktop{
            margin-bottom: 0;
        }
   
}
.benefit__icon {
    border-radius: 4px;
    margin-bottom: 30px;
    max-width:100%;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    &_antena::before {
            content: "";
            display: block;
            width: 70px;
            height: 70px;
            background-image: url(../images/antenna\ 1\ \(1\).svg);
        }
          &_clock::before {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-image: url(../images/antenna\ 1\ \(1\).svg);
                }
        
            &_clock::before {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-image: url(../images/clock\ 1\ \(1\).svg);
                }
        
            &_diagram::before {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-image: url(../images/diagram\ 1\ \(1\).svg);
                }
        
            &_astronaut::before {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-image: url(../images/astronaut\ 1\ \(1\).svg);

            }
    //    @media screen and (min-width:768px) {

    //      width: calc(100% - 30px / 2);
    //               }
        }

.benefits__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16/14);
    width: 100%;
    text-align: center;
}

.benefits__subtitle {
    width: 100%;
    font-size: 14px;
    color: var(--color-gray);
    line-height: 1.71;
}

